<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="EditerMacro.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="EditerMacro.commands.category"
            id="EditerMacro.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="EditerMacro.commands.sampleCommand"
            class="editermacro.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="EditerMacro.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label"
               mnemonic="%menu.mnemonic"
               id="EditerMacro.menus.sampleMenu">
            <command
                  commandId="EditerMacro.commands.sampleCommand"
                  mnemonic="%command.mnemonic"
                  id="EditerMacro.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="EditerMacro.toolbars.sampleToolbar">
            <command
                  commandId="EditerMacro.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="%command.tooltip"
                  id="EditerMacro.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%menu.label.0"
               mnemonic="%menu.mnemonic.0"
               id="EditerMacro.menus.sampleMenu">
            <command
                  commandId="EditerMacro.commands.sampleCommand"
                  mnemonic="%command.mnemonic.0"
                  id="EditerMacro.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editermacro.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="editermacro.editors.XMLEditor"
            name="%editor.name">
      </editor>
   </extension>

</plugin>
